
element {
    --primary-color: rgb(27, 27, 27);
    --secondary-color: blanchedalmond;
  }



header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5%;
    position: sticky; top: 0;
    background-color: rgba(27, 27, 27, 0.404);
    backdrop-filter: blur(8px);
}


.header-left {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 25%;
    
}

.header-right {
    display: flex;
    margin-right: 25%;
    margin-left: 20px;
    
}

.link-cont {
    display: flex;
    gap: 20px;
    align-items: center;
}

.active {
    background-color: rgb(6, 158, 158);
    padding: 5px;
    border-radius: 3px;
    
}

.nav-link {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 5px;
    
}

.nav-link-resume {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 3px;
    color: rgb(204, 84, 178);
    padding: 5px;
    border-radius: 7px;
    
}

.nav-link-resume:hover {
    background-color: rgba(196, 79, 171, 0.164);
}

.nav-link:hover {
    text-decoration: underline;
    
}

.name-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}

.bi-person-hearts {
    margin-right: 10px;
}

a {
    text-decoration: none;
  }
  
 
  
  

  ul {
    
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    color: #fff;
    background-color: rgba(85, 84, 84, 0.623);
    flex-direction: column;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 5px;
    font-size: 15px;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {

    display: block;
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    visibility: hidden;
    opacity: 0;
    width: fit-content;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }

  .media-header {
      display: none;
  }

@media all and (max-width:600px) {
    
   .header-left {
       display: none;
   }

  .header-right {
    display: none;
  }

  .media-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 22%;
  padding-top: 2%;
  padding-bottom: 2%;
  }

  header {
      padding: 0;
      display: flex;
      justify-content: center;
  }
}
 